<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <!-- here, we need to loop through our context dictionary key (look at views.py for the context key) -->
            <h1>{{ todo_list1.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list1.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list1.id %}">Delete</a>
            </p>
            <!-- edit_form came from the context key in the views_function for editing -->
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todo_list1.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo_list1.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
