<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <!-- here, we need to loop through our context dictionary key (look at views.py for the context key) -->
            <h1>My Lists</h1>
            <div>
                <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
                <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_list_object %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a>
                            <!-- todo_list.id came from context key -->
                        </td>
                        <td>{{ todo_list.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
