<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>Update Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
                <!-- <input type="text" name="name"> WE DON'T NEED TO PUT THIS HERE because our form already handles it -->
            </form>
    </main>
</body>

</html>
